{%- comment -%}
Include vars:
title
subtitle
photo
photo-alt
auto-header
content
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}


<div class="blog-preview" id="{{- _slug -}}">
    {%- if (include.photo contains '.mp4') or (include.photo contains '.gif') -%}
        <video class="fading-image" loop muted autoplay>
            <source src="{{- include.photo | relative_url -}}" type="video/mp4"/>
        </video>
    {%- else -%}
        <img class="fading-image" src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" />
    {%- endif -%}
    <div class="fading-text">
        <div class="blog-header">
            <div class="blog-title">
                {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
                    {{- _title -}}
                {%- else -%}
                    {{- include.auto-header -}}
                {%- endif -%}
            </div>
            <div class="blog-subtitle">
                {{- include.subtitle -}}
                {%- if include.credit -%}
                    <a href="{{- include.credit -}}">(Image Credit)</a>
                {%- endif -%}
            </div>
        </div>
        <div class="blog-preview-content">
            <div class="blog-preview-main">
                {{- include.content -}}
            </div>
            <div class="blog-preview-link">
                {{- _link -}}
            </div>
        </div>
    </div>
</div>