{%- comment -%}
Include vars:
title
subtitle
photo
photo-alt
auto-header
content
{%- endcomment -%}

{%- assign _title = include.title | default: 'Untitled' -%}
{%- assign _slug = include.title | strip_html | slugify | default: 'untitled' -%}

{%- if include.photo and include.photo-alt -%}
{%- assign _text_width = 63 -%}
{%- assign _photo_width = 35 -%}
{%- capture _photo -%}
<img src="{{- include.photo | relative_url -}}" alt="{{- include.photo-alt -}}" class="fading-image">
{%- endcapture -%}
{%- assign _class = 'shade-one' -%}
{%- else -%}
{%- assign _text_width = 100 -%}
{%- assign _photo_width = 0 -%}
{%- assign _photo = '' -%}
{%- capture _class -%}shade-{%- cycle 'two', 'three', 'four', 'three' -%}{%- endcapture -%}
{%- endif -%}

{%- if include.auto-header == 'none' -%}
{%- assign _heading = "" -%}
{%- else -%}
{%- capture _heading -%}
<header>
    <h2>
        {%- if include.auto-header == null or include.auto-header == 'use-title' -%}
        {{- _title -}}
        {%- else -%}
        {{- include.auto-header -}}
        {%- endif -%}
    </h2>
    {%- if include.subtitle -%}<p>{{- include.subtitle -}}</p>{%- endif -%}
</header>
{%- endcapture -%}
{%- endif -%}

<section id="{{- _slug -}}" class="{{- _class -}}" style="width: 50%;">
    <div class="stacker">
        {{- _photo -}}
        <div class="fading-text" style="width: {{- _text_width -}}%; float:left">
            {{- _heading -}}
            {{- include.content -}}
        </div>
    </div>
</section>
