{%- comment -%}
Include vars:
    photo
    comment
optional:
    size
    photo-alt
{%- endcomment -%}


{%- if include.size == '' -%}
    {%- assign _size = 'medium' -%}
{%- else -%}
    {%- assign _size = include.size -%}
{%- endif -%}

{%- if include.alt == '' -%}
    {%- assign _alt = include.photo -%}
{%- else -%}
    {%- assign _alt = include.photo-alt -%}
{%- endif -%}

{%- if _size == 'small' -%}
    {%- assign _width = 60 -%}
    {%- assign _margin = 20 -%}
{%- elsif _size == 'vsmall' -%}
    {%- assign _width = 40 -%}
    {%- assign _margin = 30 -%}
{%- elsif _size == 'large' -%}
    {%- assign _width = 100 -%}
    {%- assign _margin = 0 -%}
{%- else -%}
    {%- assign _width = 80 -%}
    {%- assign _margin = 10 -%}
{%- endif -%}


<br/>
<figure style="width: {{- _width -}}%; text-align: center;  margin-left: {{- _margin -}}%;" >
    <img style="width: 100%; " src="{{- site.baseurl -}}/assets/images/{{- include.photo -}}" alt="{{- _alt -}}" class="post-image" />
    <br/>
    {%- if include.comment != "" %}
        {{- include.comment -}}
    {%- endif -%}
</figure>
<br/><br/>
