{%- comment -%}
Include vars:
    photo
    photo-alt
    comment
optional:
    size
{%- endcomment -%}


{%- if include.size == '' -%}
    {%- assign _size = 'medium' -%}
{%- else -%}
    {%- assign _size = include.size -%}
{%- endif -%}

{%- if _size == 'small' -%}
    {%- assign _width = 60 -%}
    {%- assign _margin = 20 -%}
{%- else -%}
    {%- assign _width = 80 -%}
    {%- assign _margin = 10 -%}
{%- endif -%}


<br/><br/>
<figure style="width: {{- _width -}}%; text-align: center;  margin-left: {{- _margin -}}%;" >
    <img style="width: 100%; " src="{{- site.baseurl -}}/assets/images/{{- include.photo -}}" alt="{{- include.photo-alt -}}" class="post-image" />
    <br/>
    {%- if include.comment != "" %}
        {{- include.comment -}}
    {%- endif -%}
</figure>
<br/><br/>
