---
layout: default
cover-photo: assets/images/bannerHD.jpg
cover-photo-alt: "Beautiful Beach Photograph by Taiwan Nans0410"
icon: fa-home
title: About Blum
subtitle : something
content : a
---

{%- include header.html scrolly_nav=_posts -%}

<div id="main">
    {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
    <div class="portfolio">
        {%- include portfolio_item.html title="Don't be a Hypocrite: Hierarchical Reinforcement Learning via Composition"
            primary_link="https://github.com/blumx116/SMART" img="assets/images/graddesc.jpeg" ref1="Code Repository"
            ref1link="https://github.com/blumx116/SMART" ref2="PDF (Description)"
            ref2link="assets/pdfs/SMART_Goals_Algorithm.pdf" -%}

        {%- include portfolio_item.html title="Parallelizable Reinforcement Learning for  Charging Station Recommendation"
            primary_link="https://github.com/blumx116/Chargers" img="assets/images/baidu.jpeg" ref1="Code Repository"
            ref1link="https://github.com/blumx116/Chargers" ref2="PDF" ref2link="assets/pdfs/Chargers_Report.pdf" -%}

        {%- include portfolio_item.html title="Like a Light Switch: Conditional Weights for Meta-Learning"
            primary_link="https://github.com/blumx116/maskedmeta" image="assets/images/graddesc.jpeg" ref1="Code Repository"
            ref1link="https://github.com/blumx116/maskedmeta" ref2="PDF (Proposal)" ref2link="assets/pdfs/MaskedMeta_Proposal.pdf" -%}

        {%- include portfolio_item.html title="Time Series Shapelet Classification through Learned Distances"
            primary_link="https://github.com/blumx116/Chargers" img="assets/images/shapelets-header.png"
            ref1="Code Repository" ref1link="https://github.com/blumx116/ShapeletsRefactored"
            ref2="PDF" ref2link="assets/pdfs/Shapelets.pdf"-%}

        {%- include portfolio_item.html title="Scene Prediction in Reinforcement Learning using Generative Adversarial Networks"
            primary_link="assets/pdfs/GAN_Scene_Prediction.pdf" img="assets/images/gan-model.png"
            ref1="PDF" ref1link="assets/pdfs/GAN_Scene_Prediction.pdf" -%}

        {%- include portfolio_item.html title="Foodsby : Mobile App"
            primary_link="https://apps.apple.com/us/app/foodsby-local-food-delivery/id875062433"
            img="assets/images/foodsby2.jpeg" ref1="Google Play Store" ref1link="https://play.google.com/store/apps/details?id=com.foodsby.consumerApp&hl=en&gl=US"
            ref2="Apple App Store" ref2link="https://apps.apple.com/us/app/foodsby-local-food-delivery/id875062433" -%}
    </div>
</div>


<style>
    .portfolio {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #dce3e2;
        z-index: 0;
        transition: all 0.5s ease-in;

        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }

    .portfolio-item {
        min-height: 750px;
        max-height: 7500px;
        width: 40%;
        margin: 3em 5% 3em 5%;
        box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.5);
        background-color: #dce3e2;
        /* transition: all 0.5s ease-in; */
        z-index: 1;

        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }

    @media only screen and (max-width: 1000px) {
        .portfolio-item {
            width: 80%;
            margin: 2em 10% 2em 10%;
            min-height: 400px;
            max-height: 400px;
        }
    }

    .portfolio-image-container {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: inherit;
        opacity: 100%;
    }

    .portfolio-image-container img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .portfolio-text-container {
        width: 100%;
        min-height: 50%;
        max-height: 50%;
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        padding: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .portfolio-text-container h1 {
        color : #41484c;
        font-size: 150%;
        text-decoration: underline;
        text-underline-style: dotted;
    }

    .portfolio-text-container p {
        color : #1b1f23;
        font-size: 75%;
    }

    .one {
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
    }

    .filled_one {
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
    }

</style>
