---
layout: default
cover-photo: assets/images/bannerHD.jpg
cover-photo-alt: "Beautiful Beach Photograph by Taiwan Nans0410"
icon: fa-home
title: About Blum
subtitle : something
content : a
---

{%- include header.html scrolly_nav=_posts -%}

<div id="main">
    {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
    <div class="portfolio">
        {%- include portfolio_item.html title="Don't be a Hypocrite: Hierarchical Reinforcement Learning via Composition"
            primary_link="https://github.com/blumx116/SMART" img="assets/images/graddesc.jpeg" ref1="Code Repository"
            ref1link="https://github.com/blumx116/SMART" ref2="PDF (Description)"
            ref2link="assets/pdfs/SMART_Goals_Algorithm.pdf" text="A flexible deep hierarchical reinforcement learning algorithm that is able to support an arbitrary number of layers of subpolicies, providing a unifying framework for many common algorithms. The resulting policy is both recursively optimal and inherently explainable. Work in Progress" -%}

        {%- include portfolio_item.html title="CoordiQ : Coordinated Q-learning for Electric Vehicle Charging Recommendation"
            primary_link="https://github.com/blumx116/Chargers" img="assets/images/baidu-model.png" ref1="Code Repository"
            ref1link="https://github.com/blumx116/Chargers" ref2="PDF" ref2link="assets/pdfs/Chargers_Report.pdf"
            text="Reinforcement Learning framework applied to real-world charging station data for recommendations to avoid long wait times.  We exploit a common substructure among various possible actions (recommendations) to make reinforcement learning algorithms tractable in this space, resulting in more than a 30% improvement over baselines. Work In Progress." -%}

        {%- include portfolio_item.html title="Like a Light Switch: Conditional Weights for Deep    Meta-Learning"
            primary_link="https://github.com/blumx116/maskedmeta" img="assets/images/MaskedMeta-Linear.png" ref1="Code Repository"
            ref1link="https://github.com/blumx116/maskedmeta" ref2="PDF (Proposal)" ref2link="assets/pdfs/MaskedMeta_Proposal.pdf"
            text="Many tasks in the same domain make use of some of, but not all of, the same features. We examine a differentiable method for sharing weights between related tasks by multiplying the shared weights with the output of a sigmoid function, which biases to values near 0 or 1, enabling computationally tractable meta-learning. Current Course Project." -%}

        {%- include portfolio_item.html title="Time Series Shapelet Classification through Learned Distances"
            primary_link="https://github.com/blumx116/Chargers" img="assets/images/shapelets-header.png"
            ref1="Code Repository" ref1link="https://github.com/blumx116/ShapeletsRefactored"
            ref2="PDF" ref2link="assets/pdfs/Shapelets.pdf"
            text="Traditional shapelet methods attempt to classify a time-series by measuring distance from a distinctive subsequence. However, these methods are limited in expressiveness by their use of Euclidean distance, which fails to account for different scaling of variables. In this work, we extend shapelet methods to a general class of Mahalanobis distances." -%}

        {%- include portfolio_item.html title="Scene Prediction in Reinforcement Learning using Generative Adversarial Networks"
            primary_link="assets/pdfs/GAN_Scene_Prediction.pdf" img="assets/images/gan-model.png"
            ref1="PDF" ref1link="assets/pdfs/GAN_Scene_Prediction.pdf"
            text="Most model-based reinforcement learning methods attempt to approximate the dynamics of their respective environments by stepping forward in time frame by frame. For temporally extended sequences, this can be computationally expensive and redundant. This class project tested using a GAN to generate plausible states from variable time ranges in the future." -%}

        {%- include portfolio_item.html title="Foodsby : Mobile App"
            primary_link="https://apps.apple.com/us/app/foodsby-local-food-delivery/id875062433"
            img="assets/images/foodsby2.jpeg" ref1="Google Play Store" ref1link="https://play.google.com/store/apps/details?id=com.foodsby.consumerApp&hl=en&gl=US"
            ref2="Apple App Store" ref2link="https://apps.apple.com/us/app/foodsby-local-food-delivery/id875062433"
            text="Worked with operations and marketing to develop a sleek app for the startup Foodsby. The app is multi-platform, and cleanly handles thousands of orders per-day, dynamically showing customers the best restaurants in their area and adapting to their preferences! The app remains mostly unchanged today, with over 200,000 downloads on the Google & Apple app stores!" -%}
    </div>
</div>


<style>
    .portfolio {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #dce3e2;
        z-index: 0;
        transition: all 0.5s ease-in;

        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }

    .portfolio-item {
        min-height: 750px;
        max-height: 7500px;
        width: 40%;
        margin: 3em 5% 3em 5%;
        box-shadow: 20px 50px 50px rgba(0, 0, 0, 0.5);
        background-color: #dce3e2;
        /* transition: all 0.5s ease-in; */
        z-index: 1;

        -webkit-transition: background-color 1000ms linear;
        -ms-transition: background-color 1000ms linear;
        transition: background-color 1000ms linear;
    }

    @media only screen and (max-width: 1000px) {
        .portfolio-item {
            width: 80%;
            margin: 2em 10% 2em 10%;
            min-height: 400px;
            max-height: 400px;
        }
    }

    .portfolio-image-container {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: inherit;
        opacity: 100%;
    }

    .portfolio-image-container img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .portfolio-text-container {
        width: 100%;
        min-height: 50%;
        max-height: 50%;
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        padding: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .portfolio-text-container h1 {
        color : #41484c;
        font-size: 150%;
        text-decoration: underline;
        text-underline-style: dotted;
    }

    .portfolio-text-container p {
        color : #1b1f23;
        font-size: 75%;
    }

    .one {
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 0.15) 15%, rgba(43, 148, 229, 0.15) 100%);
    }

    .filled_one {
        background: -moz-linear-gradient(-45deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
        background: linear-gradient(135deg, rgba(226, 169, 229, 1) 15%, rgba(43, 148, 229, 1) 100%);
    }

</style>
