---
layout: default
---



{%- include header.html -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include post_header.html photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header -%}
		<!-- {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%} -->
	{%- endif -%}
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>

<!-- Mathjax Support -->
<script type="text/javascript" async
		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>